<head th:replace="~{header :: head}"/>

<body>

<div th:replace="~{navbar :: nav}"/>
<div th:replace="~{navbar :: nav2}"/>

<div class="container special">

    <div class="titre">
        <h2 class="h2">Panier </h2>
    </div>

    <form method="post"
          th:action="@{/addPanier}" th:object="${panier}">

        <input type="text" th:value="${achatid.getAchatid()}" th:field="*{Achat}">

    <div class="tabPanier">
        <table id="panierTable" class="table table-bordered">
            <thead>
            <tr>
                <th>Nom du Médicament</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody id="panierBody">
            <!-- Le panier est vide pour le moment -->
            <tr>
                <td colspan="4">Votre panier est vide.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="titre">
        <button id="validbutton" class="valid"> VALIDATION</button>
    </div>
</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script
        src="/js/panier2.js"></script>

</body>