<head th:replace="~{header :: head}"/>

<body>

<div th:replace="~{navbar :: nav}"/>
<div th:replace="~{navbar :: nav2}"/>

<!-- Suit la création ou le choix d'une Personne -->

	<div class="container special">

		<h2 class="h2">Ajout d'un nouveau Client</h2>
		<div>
			<form method="post"
				th:action="@{/addClient}" th:object="${client}">
				<div class="form-group">
					<input
						type="hidden" th:field="*{Cli_ID}" class="form-control">
				</div>
				<div class="form-group">
					<label for="Cli_Date_NaissanceInput">Date de Naissance</label>
					<input
						type="text" th:field="*{Cli_Date_Naissance}" class="form-control" id="Cli_Date_NaissanceInput"
						aria-describedby="Cli_Date_NaissanceHelp" placeholder="Saisir la Date de naissance"> <small
						id="Cli_Date_NaissanceHelp" class="form-text text-muted">Merci d'écrire la date de Naissance.</small> <!-- Remplacer par un choix de date d'un calend -->
				</div>
				<div class="form-group">
					<label for="cli_numero_secuInput">Numéro de Securité Sociale</label>
					<input
							type="text" th:field="*{cli_numero_secu}" class="form-control" id="cli_numero_secuInput"
							aria-describedby="cli_numero_secuHelp" placeholder="Saisir le numéro de Sécurité Sociale"> <small
						id="cli_numero_secuHelp" class="form-text text-muted">Merci d'écrire le Numéro de Sécurité Sociale</small>
				</div>

				<!-- Choix du Medecin / Specialiste si il y a / Mutuelle / Récupération aussi de l'id de Personne précèdemment fait-->
				
				<button type="submit" class="btn btn-primary">Créer</button>
			</form>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>