<head th:replace="~{header :: head}"/>

<body>

<div th:replace="~{navbar :: nav}"/>
<div th:replace="~{navbar :: nav2}"/>

<div id="liste">

	<section class="info-box">
		<ul>
			<li><a href="#" class="active">Ordonnance</a></li>
			<li><a href="#">Achat</a></li>
		</ul>

		<br>


		<div class="panels">
			<article class="active-panel">
		<h2 class="h2">Liste des Ordonnances</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Numéro de l'Ordonnance</th>
						<th>Date de l'Ordonnance</th>
						<th>Medecin</th>
						<th>Specialiste</th>
						<th>Client</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${listOrdonnance.empty}">
						<td colspan="3">Aucune Ordonnance en base de données</td>
					</tr>
					<tr th:each="ordonnance: ${listOrdonnance}">
						<td><span th:text="${ordonnance.Ord_Num}"> Numéro de l'Ordonnance </span></td>
						<td><span th:text="${ordonnance.Ord_Date}"> Date </span></td>
						<td><span th:text="Dr +' '+${ordonnance.Medecin.Personne.Per_Prenom} + ' ' + ${ordonnance.Medecin.Personne.Per_Nom}"> Medecin </span></td>
						<td><span th:text="${ordonnance?.Specialiste?.Personne?.Per_Prenom}"> Spécialiste </span></td>
						<td><span th:text="${ordonnance.Client.Personne.Per_Prenom} + ' ' + ${ordonnance.Client.Personne.Per_Nom}"> Client </span></td>
						<td>
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary"
									data-bs-toggle="modal" th:attr="data-bs-target=${'#editModalOrd'+ ordonnance.Ord_ID}"
									data-row="${ordonnance}">Informations </button>

							<!-- Modal -->
							<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:each="ordonnance : ${listOrdonnance}" th:attr="id=${'editModalOrd' + ordonnance.Ord_ID}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Ordonnance</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<a class="debut"> Numéro Ordonnance : </a> <span th:text="${ordonnance.Ord_Num}"> Numéro de l'Ordonnance </span> <br>
											<a class="debut"> Date : </a> <span th:text="${ordonnance.Ord_Date}"> Date </span> <br>
											<a class="debut"> Medecin : </a> <span th:text="Dr +' '+${ordonnance.Medecin.Personne.Per_Prenom} + ' ' + ${ordonnance.Medecin.Personne.Per_Nom}"> Medecin </span> <br>
											<a class="debut"> Spécialiste : </a> <span th:text="${ordonnance?.Specialiste?.Personne?.Per_Prenom}"> Spécialiste </span> <span th:text=" '(' + ${ordonnance?.Specialiste?.Spe_Specialite}+')'"> Spécialité </span>  <br>
											<a class="debut"> Client : </a> <span th:text="${ordonnance.Client.Personne.Per_Prenom} + ' ' + ${ordonnance.Client.Personne.Per_Nom}"> Client </span><br>

											<h2 class="h2" style="font-size: 120%"> Résumé Commande </h2>

											<div th:each="compose : ${listCompose} "
												 th:if="${ordonnance.Ord_ID} == ${compose.Ordonnance.Ord_ID}"
											>

												<a class="debut"> Medicament : </a> <span th:text="${compose.Medicament.Medi_Nom}"> Médicament </span> <br>
												<a class="debut"> Quantité : </a> <span th:text="${compose.Compose_Qte}">   </span> <br>
												<hr>

											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
										</div>
									</div>
								</div>
							</div>

							<a th:href="@{/editOrdonnance/{id}(id=${ordonnance.Ord_ID})}"><button class="btn btn-info">Modifier</button></a>
							<a th:href="@{/deleteOrdonnance/{id}(id=${ordonnance.Ord_ID})}"><button class="btn btn-danger">Supprimer</button></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h4><a th:href="@{/signupOrdonnance}">Ajouter une nouvelle Ordonnance</a></h4>
			</article>

			<br>

			<article>
				<h2 class="h2">Liste des Achats</h2>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
						<tr>
							<th>Date de l'Achat</th>
							<th>Client </th>
							<th>Ordonnance </th>
						</tr>
						</thead>
						<tbody>
						<tr th:if="${listAchat.empty}">
							<td colspan="3">Aucun Achat en base de données</td>
						</tr>
						<tr th:each="achat: ${listAchat}">
							<td><span th:text="${achat.achat_Date}"> Date de l'Achat </span></td>
							<td><span th:text="${achat.Client.Personne.Per_Prenom} + ' ' + ${achat.Client.Personne.Per_Nom}"> Client </span></td>
							<td><span th:text="${achat.Ordonnance?.Ord_Num}"> Ordonnance </span></td>

							<td>

								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary"
										data-bs-toggle="modal" th:attr="data-bs-target=${'#editModalAchat'+ achat.Achat_ID}"
										data-row="${achat}">Informations </button>

								<!--  Modal -->
								<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" th:each="achat : ${listAchat}" th:attr="id=${'editModalAchat' + achat.Achat_ID}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel2">Achat</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<a class="debut"> Date de l'Achat : </a> <span th:text="${achat.achat_Date}"> Date de l'Achat </span> <br>
												<a class="debut"> Client : </a> <span th:text="${achat.Client.Personne.Per_Prenom} + ' ' + ${achat.Client.Personne.Per_Nom}"> Client </span> <br>
												<a class="debut"> Ordonannce : </a> <span th:text="${achat.Ordonnance?.Ord_Num}"> Ordonnance </span> <br>

												<h2 class="h2" style="font-size: 120%"> Résumé Commande : </h2>

												<div th:each="panier : ${listPanier} "
													 th:if="${achat.Achat_ID} == ${panier.Achat.Achat_ID}"
												>

													<a class="debut"> Medicament : </a> <span th:text="${panier.Medicament.Medi_Nom}"> Médicament </span> <br>
													<a class="debut"> Quantité : </a> <span th:text="${panier.Panier_Qte}">   </span> <br>
													<hr>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
											</div>
										</div>
									</div>
								</div>
								<a th:href="@{/editAchat/{id}(id=${achat.Achat_ID})}"><button class="btn btn-info">Modifier</button></a>
								<a th:href="@{/deleteAchat/{id}(id=${achat.Achat_ID})}"><button class="btn btn-danger">Supprimer</button></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<h4><a th:href="@{/signupAchat}">Ajouter un nouveau Achat</a></h4>

			</article>

		</div>
	</section>
</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<script src="/js/santeTableau.js"></script>
</body>
</html>