<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Sparadrap Web Application</title>

<style>
body {
	padding-top: 50px;
}

.special {
	padding-top: 50px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href=".">Système de gestion de
					Sparadrap</a>
			</div>
		</div>
	</nav>


	<div class="container special">

		<h2 class="h2">Modification d'une Adresse</h2>
		<div>
			<form action="#" 
  th:action="@{/updateAdresse/{id}(id=${adresse.Adr_ID})}" 
  th:object="${adresse}" 
  method="post">
  <input type="hidden" th:field="*{Adr_ID}" class="form-control">
    <label for="Adr_Numero_Rue">Numéro Rue</label>
    <input type="text" th:field="*{Adr_Numero_Rue}" id="Adr_Numero_Rue" placeholder="Adr_Numero_Rue">
    <span th:if="${#fields.hasErrors('Adr_Numero_Rue')}" th:errors="*{Adr_Numero_Rue}"></span>
    <label for="Adr_Nom_Rue">Adr_Nom_Rue</label>
    <input type="text" th:field="*{Adr_Nom_Rue}" id="Adr_Nom_Rue" placeholder="Adr_Nom_Rue">
    <span th:if="${#fields.hasErrors('Adr_Nom_Rue')}" th:errors="*{Adr_Nom_Rue}"></span>
    <label for="Adr_Code_Postal">Adr_Code_Postal</label>
    <input type="text" th:field="*{Adr_Code_Postal}" id="Adr_Code_Postal" placeholder="Adr_Code_Postal">
    <span th:if="${#fields.hasErrors('Adr_Code_Postal')}" th:errors="*{Adr_Code_Postal}"></span>
    <label for="Adr_Ville">Adr_Ville</label>
    <input type="text" th:field="*{Adr_Ville}" id="Adr_Ville" placeholder="Adr_Ville">
    <span th:if="${#fields.hasErrors('Adr_Ville')}" th:errors="*{Adr_Ville}"></span>
    <input type="submit" value="Update Adresse">   
</form>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>

