

:root{
    --hauteur-menu: 60px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

body{
    display: grid;
    grid-template-columns: 18% 80%;
}

#sidebar{
    height: 100%;
}

#liste {
    margin-top: 5%;
}




.h2 {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 250%;
    margin-bottom: 1em;
}

.h2:before,
.h2:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background-color: #666;
}

.h2:before {
    margin-right: 1rem;
}

.h2:after {
    margin-left: 1rem;
}