<nav>
  <ul>
    <li class="menu-deroulant">
      <a href="#">Liste</a>
      <ul class="sous-menu">
        <li><a href="listAchat">Achat</a></li>
        <li><a href="listAdresse">Adresse</a></li>
        <li><a href="#">Categorie</a></li>
        <li><a href="#">Client</a></li>
        <li><a href="#">Entreprise</a></li>
        <li><a href="#">Medecin</a></li>
        <li><a href="#">Medicament</a></li>
        <li><a href="#">Mutuelle</a></li>
        <li><a href="#">Ordonnance</a></li>
        <li><a href="#">Personne</a></li>
        <li><a href="#">Specialiste</a></li>
      </ul>
    </li>
    <li class="menu-deroulant">
      <a href="#">Réalisations</a>
      <ul class="sous-menu">
        <li><a href="#">SpaceX</a></li>
        <li><a href="#">Codeur.com</a></li>
      </ul>
    </li>
     <li><a href="#">À propos</a></li>
    <li><a href="#">Connection</a></li>
  </ul>
</nav>