<head th:replace="~{header :: head}"/>

<body>

<div th:replace="~{navbar :: nav}"/>
<div th:replace="~{navbar :: nav2}"/>


<form id="achatForm" method="post"
      th:action="@{/addAchat}" th:object="${achat}">

<div class="tab2">
    <div class="colonne1">

        <input type="text" th:field="*{achatid}" hidden class="form-control">

        <h2 class="h2">Date et Heure</h2>
        <input type="text" class="choix" id="time" disabled />

        <input type="text"  th:field="*{Achat_Date}"
               class="form-control" id="dateInput" hidden>

        <h2 class="h2" style="font-size: 200%">Client</h2>
        <select class="form-control" id="cli"  th:field="*{Client}">
            <option value="">Select Client</option>
            <option th:each="client : ${listClient}" th:value="${client.Cli_ID}"
                    th:text="${client.Personne.Per_Prenom} + ' ' + ${client.Personne.Per_Nom}">
            </option>
        </select><br>

        <h2 class="h2" style="font-size: 200%">Medecin</h2>
        <select class="choix">
            <option th:each="medecin: ${listMedecin}"
                    th:text=" Dr +' ' + ${medecin.Personne.Per_Prenom} + ' ' + ${medecin.Personne.Per_Nom}"
                    th:value="${Med_ID}"></option>
        </select><br>

        <h2 class="h2" style="font-size: 200%">Spécialiste</h2>
        <select class="choix">
            <option th:each="specialiste: ${listSpecialiste}"
                    th:text=" Dr +' ' + ${specialiste.Personne.Per_Prenom} + ' ' + ${specialiste.Personne.Per_Nom}"
                    th:value="${Spe_ID}"></option>
        </select><br>
    </div>


    <div class="ligne2">

        <div class="titre">
        <h2 class="h2">Liste des Medicaments</h2>
        </div>
        <div class="tab">
            <div class="container-fluid" id="liste">
                <div class="table-responsive-sm">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Nom du Médicament</th>
                            <th>Prix du médicament</th>
                            <th>Catégorie</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${listMedicament.empty}">
                            <td colspan="3">Aucun Médicament en base de données</td>
                        </tr>
                        <tr th:each="medicament: ${listMedicament}">
                            <td hidden><span th:text="${medicament.Medi_ID}" hidden></span></td>
                            <td><span th:text="${medicament.Medi_Nom}"> Nom du Médicament </span></td>
                            <td><span th:text="${medicament.Medi_Prix} + '.00 €'"> Prix de la boîte </span></td>
                            <td><span th:text="${medicament.Categorie.Cat_Categorie}"> Catégorie </span></td>
                            <td>
                                <button class="ajouterPanier">Ajouter au panier</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="titre">
            <h2 class="h2">Panier </h2>
        </div>
        <div class="tabPanier">
            <table id="panierTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom du Médicament</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody id="panierBody">
                <!-- Le panier est vide pour le moment -->
                <tr>
                    <td colspan="4">Votre panier est vide.</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="titre">
            <button id="validbutton" class="valid"> VALIDATION</button>
        </div>
    </div>
</div>
</form>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script
        src="/js/panier.js"></script>

</body>